# OMIS30 MidTerm
# REVIEW
## Fall 2019

## 1. Cleaning Errant Whitespaces

Run the cell below to define the list of strings, 'baddata.'

In [1]:
# data taken from data.gov
# https://catalog.data.gov/dataset/demographic-statistics-by-zip-code-acfc9
# https://data.cityofnewyork.us/api/views/kku6-nxdu/rows.csv?accessType=DOWNLOAD

baddata = [
"Zip Code\tTotal Population\tMedian Age\tTotal Males\tTotal Females\tTotal Households\tAverage Household Size\t",
"  90001\t57110\t26.6\t28468\t28642\t12971\t4.4 ",
"90002\t51223\t25.5\t24876\t26347\t11731\t4.36\t",
"\t\t\t\t90003\t66266\t26.3\t32631\t33635\t15642\t4.22  "
]

Each string contained in baddata contains errant spaces and/or tabs at the beginning or end of the string. Using a FOR loop, remove the errant whitespaces.

In [3]:
## Student Response Goes Here
gooddata = []
for line in baddata:
    gooddata.append(line.strip())
gooddata



## Student Response Goes Here

['Zip Code\tTotal Population\tMedian Age\tTotal Males\tTotal Females\tTotal Households\tAverage Household Size',
 '90001\t57110\t26.6\t28468\t28642\t12971\t4.4',
 '90002\t51223\t25.5\t24876\t26347\t11731\t4.36',
 '90003\t66266\t26.3\t32631\t33635\t15642\t4.22']

### 2. Working with TSV data

A TSV (Tab Separated Values) is like a CSV, except it uses tabs instead of commas to separate the values in a line. Run the cell below to define the 'data' variable. Manipulate the 'data' variable to answer the following questions. (Do not define a new string or list.)

In [4]:
# data taken from data.gov
# https://catalog.data.gov/dataset/demographic-statistics-by-zip-code-acfc9
# https://data.cityofnewyork.us/api/views/kku6-nxdu/rows.csv?accessType=DOWNLOAD

data = """
Zip Code\tTotal Population\tMedian Age\tTotal Males\tTotal Females\tTotal Households\tAverage Household Size
90001\t57110\t26.6\t28468\t28642\t12971\t4.4
90002\t51223\t25.5\t24876\t26347\t11731\t4.36
90003\t66266\t26.3\t32631\t33635\t15642\t4.22
""".strip()

### 2.1 Solving using Indexing

Using indexing and slicing, answer the following questions. Do *not* use a loop.

2.1.1 Create a list of strings that is the column names. e.g.:

['Zip Code',
 'Total Population',
 'Median Age',
 'Total Males',
 'Total Females',
 'Total Households',
 'Average Household Size']

In [7]:
## Student Response Goes Here
data.split('\n')[0].split('\t')



## Student Response Goes Here

['Zip Code',
 'Total Population',
 'Median Age',
 'Total Males',
 'Total Females',
 'Total Households',
 'Average Household Size']

2.1.2 Convert the data into a list of list of strings.

In [9]:
## Student Response Goes Here

datarows = data.split('\n')
datarows

listoflistofstrings = [
    datarows[0].split('\t'),
    datarows[1].split('\t'),
    datarows[2].split('\t'),
    datarows[3].split('\t')
    
]

listoflistofstrings
## Student Response Goes Here

[['Zip Code',
  'Total Population',
  'Median Age',
  'Total Males',
  'Total Females',
  'Total Households',
  'Average Household Size'],
 ['90001', '57110', '26.6', '28468', '28642', '12971', '4.4'],
 ['90002', '51223', '25.5', '24876', '26347', '11731', '4.36'],
 ['90003', '66266', '26.3', '32631', '33635', '15642', '4.22']]

2.1.3 Convert the data into a list of list of strings, but exclude the column names from the data.

In [10]:
## Student Response Goes Here

datarows = data.split('\n')
datarows

listoflistofstrings = [
    datarows[1].split('\t'),
    datarows[2].split('\t'),
    datarows[3].split('\t')
    
]

listoflistofstrings




## Student Response Goes Here

[['90001', '57110', '26.6', '28468', '28642', '12971', '4.4'],
 ['90002', '51223', '25.5', '24876', '26347', '11731', '4.36'],
 ['90003', '66266', '26.3', '32631', '33635', '15642', '4.22']]

### 2.2 Solving using FOR Loops

Using a FOR loop and slicing, answer the following questions. Do *not* use indexing.

In [11]:
dataarray = []
for line in data.split('\n'):
    dataarray.append(line.split('\t'))
dataarray

[['Zip Code',
  'Total Population',
  'Median Age',
  'Total Males',
  'Total Females',
  'Total Households',
  'Average Household Size'],
 ['90001', '57110', '26.6', '28468', '28642', '12971', '4.4'],
 ['90002', '51223', '25.5', '24876', '26347', '11731', '4.36'],
 ['90003', '66266', '26.3', '32631', '33635', '15642', '4.22']]

2.2.1 Create a list of strings that is the column names. e.g.:

['Zip Code',
 'Total Population',
 'Median Age',
 'Total Males',
 'Total Females',
 'Total Households',
 'Average Household Size']

In [12]:
## Student Response Goes Here

dataarray[0]


## Student Response Goes Here

['Zip Code',
 'Total Population',
 'Median Age',
 'Total Males',
 'Total Females',
 'Total Households',
 'Average Household Size']

2.2.2 Convert the data into a list of list of strings.

In [13]:
## Student Response Goes Here
dataarray



## Student Response Goes Here

[['Zip Code',
  'Total Population',
  'Median Age',
  'Total Males',
  'Total Females',
  'Total Households',
  'Average Household Size'],
 ['90001', '57110', '26.6', '28468', '28642', '12971', '4.4'],
 ['90002', '51223', '25.5', '24876', '26347', '11731', '4.36'],
 ['90003', '66266', '26.3', '32631', '33635', '15642', '4.22']]

2.2.3 Convert the data into a list of list of strings, but exclude the column names from the data.

In [14]:
## Student Response Goes Here

dataarray[1:]


## Student Response Goes Here

[['90001', '57110', '26.6', '28468', '28642', '12971', '4.4'],
 ['90002', '51223', '25.5', '24876', '26347', '11731', '4.36'],
 ['90003', '66266', '26.3', '32631', '33635', '15642', '4.22']]

## 3. Cow Greek
Similar to Pig Latin, Cow Greek was developed to modify words by moving any leading consonants to the end, and appending 'oo' to the end of the word. For example, 
Denis becomes enisdoo
python becomes ythonpoo
answer becomes answeroo (note, there is no leading consonant to move)
midterm becomes idtermmoo

Write a program that:
1. takes a user input
2. removes any non-letters
3. converts everything to lowercase
4. converts the word to Cow Greek
5. and, capitalizes the first letter

note: assume that ony single words will be entered.

In [11]:
## Student Response Goes Here
userinput = input("Enter a string to convert to Cow Greek:\n")
    
vowels = ['a','e','i','o','u']
validletters = 'abcdefghijklmnopqrstuvwxyz'
letters = []
for letter in userinput:
    if letter in validletters:
        letters.append(letter.lower())
for i,letter in enumerate(letters):
    if letter in vowels:
        breakpoint = i
        break
userinput = ''.join(letters)
print( userinput[i:] + userinput[:i] + 'oo')

## Student Response Goes Here

Enter a string to convert to Cow Greek:
moo123...
oomoo

## 4. Fibonacci Squared
Write a program that takes in a user input, 'n', (assume a valid integer is entered), and calulates the square of the n-th Fibonacci number.

In [1]:
## Student Response Goes Here

# code taken from
# https://www.geeksforgeeks.org/python-program-for-n-th-fibonacci-number/

def Fibonacci(n): 
    if n<0: 
        print("Incorrect input") 
    # First Fibonacci number is 0 
    elif n==1: 
        return 0
    # Second Fibonacci number is 1 
    elif n==2: 
        return 1
    else: 
        return Fibonacci(n-1)+Fibonacci(n-2) 

userinput = input("Which Fibonacci number (squared) would you like? (Make sure you enter a valid int!)\n: ")

answer = Fibonacci(int(userinput))**2
print("You result is:\n{}".format(answer))
    
## Student Response Goes Here

Which Fibonacci number (squared) would you like? (Make sure you enter a valid int!)
: 8
You result is:
169

## 5. Working with Dictionaries, and Food
Write a program that takes in a user input (the user specifies the meal they would like to make), and returns a numbered list of ingredients. Extract the list of ingredients from the dictionary 'ingredients' defined below.

For example, if the user enters 'pizza', the program should print:
1. dough
2. marinara sauce
3. cheese
4. pepperoni

In [33]:
ingredients = {
    'pizza':['dough','marinara sauce','cheese','pepperoni'],
    'lasagna':['pasta','marinara sauce','cheese','ground beef'],
    'alfredo gnocci':['alfredo sauce','gnocci','chicken','broccoli']
    
}

In [39]:
## Student Response Goes Here

userinput = input("Select a recipe")
if userinput not in ingredients.keys():
    print("invalid input")
else:
    
    result = ''
    for i,ingredient in enumerate(ingredients):
        result += '{}. {}'.format(i+1,ingredient) + '\n'
    
    print("The required ingredients are:\n{}".format(result))


## Student Response Goes Here

Select a recipepizza
The required ingredients are:
1. pizza
2. lasagna
3. alfredo gnocci

## BONUS PROBLEM
Redo problem 3 (Cow Greek) using a function, where the function takes in a string as an arguent, and returns the string (assume it is a single word) translated into Cow Greek. Now, use this function to write a script that can translate an entire sentence (words separated by whitespaces) into Cow Greek.

In [12]:
### BONUS PROBLEM
## Student Response Goes Here
def cowgreek(userinput):
    
    vowels = ['a','e','i','o','u']
    validletters = 'abcdefghijklmnopqrstuvwxyz'
    letters = []
    for letter in userinput:
        if letter in validletters:
            letters.append(letter.lower())
    for i,letter in enumerate(letters):
        if letter in vowels:
            breakpoint = i
            break
    userinput = ''.join(letters)
    print( userinput[i:] + userinput[:i] + 'oo')

userinput = input("Enter a string to convert to Cow Greek:\n")
cowgreek(userinput)

## Student Response Goes Here### BONUS PROBLEM

Enter a string to convert to Cow Greek:
moo1234...
oomoo

## What to Submit
Submit this Jupyter Notebook, with your answers, to Camino. Make sure you are submitting the correct format (.ipynb)!