# Week 2, Class 2, Notes

Let's make up some data similar to the lab...

## Lab Review and Examples

In [118]:
data = """
student,grade,height
Bob,B,5-4
Sue,A,5-8
John,C,6-2
Denis,B,6-5
""".strip()

data

'student,grade,height\nBob,B,5-4\nSue,A,5-8\nJohn,C,6-2\nDenis,B,6-5'

Note that this looks different than when you print()

In [119]:
print(data)

student,grade,height
Bob,B,5-4
Sue,A,5-8
John,C,6-2
Denis,B,6-5

Let's take a look at what happens if we split() on the comma...

In [120]:
data.split(',')

['student',
 'grade',
 'height\nBob',
 'B',
 '5-4\nSue',
 'A',
 '5-8\nJohn',
 'C',
 '6-2\nDenis',
 'B',
 '6-5']

...and on the newline character

In [121]:
data.split('\n')

['student,grade,height', 'Bob,B,5-4', 'Sue,A,5-8', 'John,C,6-2', 'Denis,B,6-5']

And, the data type that the .split() method returns is:

In [122]:
type(data.split('\n'))

list

Let's save the result to a new variable, and see what it looks like

In [123]:
datalist = data.split('\n')
datalist

['student,grade,height', 'Bob,B,5-4', 'Sue,A,5-8', 'John,C,6-2', 'Denis,B,6-5']

We can index this list

In [124]:
datalist[4]

'Denis,B,6-5'

which is made up of strings

In [125]:
type(datalist[4])

str

We want something like this:

In [126]:
['Denis','B','6-5']

['Denis', 'B', '6-5']

...which we can get by combining indexing, with another split() method:

In [127]:
datalist[4].split(',')

['Denis', 'B', '6-5']

If we take a look at the different elements in datalist, we can split each:

In [23]:
datalist[0].split(',')

['student', 'grade', 'height']

In [24]:
datalist[1].split(',')

['Bob', 'B', '5-4']

In [25]:
datalist[2].split(',')

['Sue', 'A', '5-8']

In [26]:
datalist[3].split(',')

['John', 'C', '6-2']

In [27]:
datalist[4].split(',')

['Denis', 'B', '6-5']

Or, we can combine a few to make a list of lists (or strings):

In [29]:
[datalist[3].split(','),
datalist[4].split(',')]

[['John', 'C', '6-2'], ['Denis', 'B', '6-5']]

In [30]:
newdata = [datalist[3].split(','),
datalist[4].split(',')]

In [31]:
newdata

[['John', 'C', '6-2'], ['Denis', 'B', '6-5']]

...which can then be indexed

In [128]:
newdata[1][1]

'B'

...or sliced...

In [129]:
newdata[1][1:]

['B', '6-5']

...even negative indexes (counting from the end) work too:

In [41]:
newdata[-1]

['Denis', 'B', '6-5']

Here are a few examples of combining multiple indexes and slices to go into the list (which contains the data from our .csv table):

In [46]:
newdata[1][1:]

['B', '6-5']

In [47]:
newdata[1][1:-1]

['B']

In [48]:
newdata[1][0:]

['Denis', 'B', '6-5']

In [49]:
newdata[1][:]

['Denis', 'B', '6-5']

## String Methods
and some boolean expressions

In [50]:
'Q' == 'q'

False

In [51]:
'Q'.lower()

'q'

In [52]:
'Q'.lower() == 'q'

True

In [54]:
'q'.upper()

'Q'

In [55]:
'denis vrdoljak'.capitalize()

'Denis vrdoljak'

In [56]:
'denis vrdoljak'.title()

'Denis Vrdoljak'

In [58]:
'    '.strip()

''

In [59]:
'    '.split()

[]

## Lists and Examples

In [60]:
list()

[]

In [61]:
[]

[]

In [131]:
[1,2,3,4]

[1, 2, 3, 4]

In [132]:
[1,2,3,4] + [5,6,7]

[1, 2, 3, 4, 5, 6, 7]

In [133]:
[1,2,3,4] * 3

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [134]:
mylist = [1,2,3,4]

In [135]:
mylist.append(5)
mylist

[1, 2, 3, 4, 5]

In [136]:
mylist.extend([6,7,8])
mylist

[1, 2, 3, 4, 5, 6, 7, 8]

In [137]:
mylist.append([9,10])
mylist

[1, 2, 3, 4, 5, 6, 7, 8, [9, 10]]

This is what happens when you use .extend() when you should use .append()

In [138]:
mylist.extend(11)
mylist

TypeError: 'int' object is not iterable

.pop() can take an index as an argument. Here, we'll pop the last item (index -1) off the list

In [139]:
mylist.pop(-1)

[9, 10]

and see what our list now looks like:

In [140]:
mylist

[1, 2, 3, 4, 5, 6, 7, 8]

## Some String Methods

In [79]:
name = "Denis"
name = name + " Vrdoljak"
name

'Denis Vrdoljak'

In [82]:
columns = "student,grade,height".split(',')
columns

['student', 'grade', 'height']

In [83]:
','.join(columns)

'student,grade,height'

In [84]:
'\t'.join(columns)

'student\tgrade\theight'

In [85]:
'-SEPERATOR-'.join(columns)

'student-SEPERATOR-grade-SEPERATOR-height'

In [86]:
','.join(columns)

'student,grade,height'

## Dictionaries

In [87]:
{}

{}

In [88]:
dict()

{}

In [89]:
mydict_ofgrades = {}
mydict_ofgrades['Sue'] = 'A'
mydict_ofgrades['Denis'] = 'B'
mydict_ofgrades

{'Sue': 'A', 'Denis': 'B'}

In [90]:
mydict_ofgrades.keys()

dict_keys(['Sue', 'Denis'])

In [91]:
mydict_ofgrades.values()

dict_values(['A', 'B'])

In [92]:
mydict_ofgrades.items()

dict_items([('Sue', 'A'), ('Denis', 'B')])

In [96]:
mydict_ofgrades = {'Sue':'A','Denis':'B'}
mydict_ofgrades

{'Sue': 'A', 'Denis': 'B'}

A dictionary of dictionaries:

In [98]:
mydict_ofgrades = {
    'HW1':{'Sue':95,'Denis':80},
    'HW2':{'Sue':75,'Denis':90}
    }

mydict_ofgrades

{'HW1': {'Sue': 95, 'Denis': 80}, 'HW2': {'Sue': 75, 'Denis': 90}}

In [99]:
mydict_ofgrades['HW2']['Denis']

90

In [100]:
mydict_ofgrades['HW2'].keys()

dict_keys(['Sue', 'Denis'])

In [101]:
mydict_ofgrades['HW2'].values()

dict_values([75, 90])

In [102]:
mydict_ofgrades['HW2'].items()

dict_items([('Sue', 75), ('Denis', 90)])

Note that this dict_items object cannot be indexed:

In [104]:
mydict_ofgrades['HW2'].items()[0]

TypeError: 'dict_items' object does not support indexing

But, it can be type cast as a list, and then indexed

In [105]:
list(mydict_ofgrades['HW2'].items())

[('Sue', 75), ('Denis', 90)]

In [108]:
list(mydict_ofgrades['HW2'].items())[0]

('Sue', 75)

In [109]:
list(mydict_ofgrades['HW2'].items())[:2]

[('Sue', 75), ('Denis', 90)]

In [111]:
type(list(mydict_ofgrades['HW2'].items())[0])

tuple

In [112]:
first_result = list(mydict_ofgrades['HW2'].items())[0]
first_result

('Sue', 75)

In [113]:
first_result[0]

'Sue'

In [116]:
first_result[:1]

('Sue',)

## Sets
a set is basically just a list with no duplicates. Don't forget that it uses different methods (add instead of append, for example).

In [117]:
set([1,1,1,1,4,4,5])

{1, 4, 5}